<div id="split">
  <div id="post-editor" class="split-section">
    <a href="#fullscreen" id="fullscreen"><img src="{{base_url}}/images/fullscreen.png"></a>
    <div id="text-title">
      <textarea cols="40" id="post-title" name="post[title]" placeholder="Title here" rows="1">{{#ptitle}}{{ ptitle }}{{/ptitle}}{{^ptitle}}{{ title }}{{/ptitle}}</textarea>
      <input type="hidden" id="post_name" name="post[name]" value="{{ name }}">
    </div>

    <div id="text-content">
      <textarea cols="40" id="post-content" name="post[content]" placeholder="Write post here" rows="18">{{content}}</textarea>
    </div>
  </div>
</div>
