<div id="split">
  <div id="post-editor" class="split-section">
    <a href="#fullscreen" id="fullscreen"><img src="{{base_url}}/images/fullscreen.png"></a>
    <div id="text-title">
      <textarea cols="40" id="post-title" name="post[title]" placeholder="Title here" rows="1">{{#ptitle}}{{ ptitle }}{{/ptitle}}{{^ptitle}}{{ title }}{{/ptitle}}</textarea>
      <input type="hidden" id="post_name" name="post[name]" value="{{ name }}">
    </div>

    <div id="text-content">
      <div cols="40" id="post-content" name="post[content]" placeholder="Write post here" rows="18" data-toggle="pen">{{content}}</div>
    </div>
  </div>
	<script type="text/javascript">

  // config
  var options = {
    editor: document.querySelector('[data-toggle="pen"]'),
    debug: true
  };

  // create editor
  var pen = new Pen(options);


  // toggle editor mode
  document.querySelector('#mode').addEventListener('click', function() {
    var text = this.textContent;

    if(this.classList.contains('disabled')) {
      this.classList.remove('disabled');
      pen.rebuild();
    } else {
      this.classList.add('disabled');
      pen.destroy();
    }
  });

  // toggle editor mode
  document.querySelector('#hinted').addEventListener('click', function() {
    var pen = document.querySelector('.pen')

    if(pen.classList.contains('hinted')) {
      pen.classList.remove('hinted');
      this.classList.add('disabled');
    } else {
      pen.classList.add('hinted');
      this.classList.remove('disabled');
    }
  });
</script>

</div>
