
<body class="admin posts edit">
  <div id="admin">
    <div id="save"></div>
    
    <form accept-charset="UTF-8" action="{{base_url}}/save-post" class="edit_post" method="post">
      {{>editor_area}}
      <div id="publish-bar-hover">
        <div id="publish-bar">
          <div class="contain">
            <div class="left">
              <a href="{{base_url}}/">&laquo; ADMIN</a>
              <a href="{{base_url}}/delete/{{ name }}" class="delete-bar delete-button" >DELETE</a>
            </div>
            <div class="right">

              <div class="draft-options">
                <a id="draft-action" class="button {{#draft}}selected{{/draft}}" href="#">DRAFT</a>
                <a id="publish-action" class="button {{^draft}}selected{{/draft}}" href="#">DONE</a>
                <input id="post_draft" name="post[draft]" type="checkbox" {{#draft}}checked{{/draft}} />
              </div>
              <input id="save-button" name="commit" type="submit" value="SAVE" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</body>