<body class="admin posts admin">
  <div id="admin">
    <div id="save"></div>
    
    <div id="drafts" class="col">
      <h1>Drafts <a href="{{base_url}}/new" class="button">New Draft</a></h1>
      <form accept-charset="UTF-8" action="{{base_url}}/new" class="new_post" id="new_post" method="get">
        <input id           = "post-title" 
               name         = "ptitle" 
               autocomplete = "off"
               placeholder  = "Start typing your title here..." size="30" type="text" />
      </form>  

      <ul>
        {{#drafts}}
        <li id="post-{{filename}}">
          <h3>
            <a href="{{base_url}}/edit/{{filename}}">{{title}}</a>
            <span class="links">
              <a href="{{base_url}}/404" class="admin-view">view</a>
              <a href="{{base_url}}/delete/{{filename}}" class="delete-button admin-delete" rel="nofollow">x</a>
            </span>
          </h3>
        </li>
        {{/drafts}}
      </ul>
  </div>

  <div id="published" class="col">
  <h2>Published 
  <a href="{{base_url}}/settings" class="button">Settings</a></h2>
  <ul>
    {{#published}}
    <li id="post-{{filename}}">
      <h3>
        <a href="{{base_url}}/edit/{{filename}}">{{title}}</a>
        <span class="links">
          <a href="{{base_url}}/404" class="admin-view">view</a>
          <a href="{{base_url}}/delete/{{filename}}" class="delete-button admin-delete" rel="nofollow">x</a>
        </span>
      </h3>
    </li>
    {{/published}}
  </ul>

  </div>
  </div>