<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/pagoda.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
  {{#css}}
  <link rel="stylesheet" type="text/css" href="{{base_url}}/custom.css" media="all">
  {{/css}}

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/ie7.css" media="all">
  <![endif]-->

  <script type="text/javascript" src="{{base_url}}/javascript/jquery-1.7.2.min.js"></script>
  <title>{{title}}</title>
</head>
<body>

{{{yield}}}

</body>
</html>