<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/pagoda.css" media="screen, projection">
  <link rel="stylesheet" type="text/css" href="{{base_url}}/css/tiptip.css" media="screen, projection">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900|Asap|Titillium+Web' rel='stylesheet' type='text/css' />
  <link rel="apple-touch-icon" href="{{base_url}}/images/apple-touch-icon.png" />



  <script type="text/javascript" src="{{base_url}}/js/jquery.js"></script>
  <script type="text/javascript" src="{{base_url}}/js/screenfull.js"></script>
  <script type="text/javascript" src="{{base_url}}/js/jquery.autosize.js"></script>
  <script type="text/javascript" src="{{base_url}}/js/keymaster.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/js/jquery.tiptip.min.js"></script>
  <script type="text/javascript" src="{{base_url}}/js/editor.js"></script>
  <script type="text/javascript">
    var baseUrl = "{{base_url}}";
  </script>
  <title>{{title}}</title>
</head>

{{{yield}}}

</html>