<body class="admin posts edit">
  <div id="admin">
    <div id="save"></div>
    
    <form accept-charset="UTF-8" action="/save-post" class="edit_post" method="post">
    <input type="hidden" name="method" value="put" />

      {{>editor_area}}

      <div id="publish-bar-hover">
        <div id="publish-bar">
          <div class="contain">
            <div class="left">
              <a href="/">&laquo; Admin</a>
              <a href="#options" class="menu">Options</a>
              <ul id="options" class="sub-menu">
                <li>
                  <label for="post_url">Slug</label>
                  <input id="post_slug" name="post[slug]" placeholder="Leave blank to automatically generate" size="30" type="text" value="cream" />
                </li>
                <li>
                  <label for="post_url">URL</label>
                  <input id="post_url" name="post[url]" placeholder="Optional external link" size="30" type="text" value="" />
                </li>
              </ul>
            </div>
            <div class="right">
              <input id="save-button" name="commit" type="submit" value="Save" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</body>