<body class="admin posts edit">
  <div id="admin">
    <div id="save"></div>
    
    <form accept-charset="UTF-8" action="/save-post" class="edit_post" method="post">
    <input type="hidden" name="method" value="put" />

<div id="split">
  <div id="post-editor" class="split-section">

    <a href="/cream" class="permalink" target="_blank">⚓</a>
    <div id="text-title" class="expandingArea active ">
      <pre><span></span><br></pre>
      <textarea cols="40" id="post_title" name="post[title]" placeholder="Title here" rows="1">{{post_title}}</textarea>
    </div>

    <fieldset class="markdown">
      <div id="text-content" class="expandingArea active">
        <pre><span></span><br></pre>
        <textarea cols="40" id="post_content" name="post[content]" placeholder="Write post here" rows="20"></textarea>
      </div>
    </fieldset>
  </div>
  <div id="post-preview" class="split-section">
  </div>
</div>

<div id="publish-bar-hover">
  <div id="publish-bar">
    <div class="contain">
      <div class="left">
        <a href="/">&laquo; Admin</a>
        <a href="#options" class="menu">Options</a>
        <ul id="options" class="sub-menu">
          <li>
            <label for="post_url">Slug</label>
            <input id="post_slug" name="post[slug]" placeholder="Leave blank to automatically generate" size="30" type="text" value="cream" />
          </li>
          <li>
            <label for="post_url">URL</label>
            <input id="post_url" name="post[url]" placeholder="Optional external link" size="30" type="text" value="" />
          </li>
        </ul>
      </div>
      <div class="right">
        <input id="preview-button" name="commit" preview="true" target="_blank" type="submit" value="Preview" />
        <input id="save-button" name="commit" type="submit" value="Save" />
      </div>
    </div>
  </div>
</div>


</form>
  </div>

</body>