<body class="admin posts edit">
  <div id="admin">
    <div id="save"></div>
    
    <form accept-charset="UTF-8" action="{{base_url}}/save-post" class="edit_post" method="post">
    <input type="hidden" name="method" value="put" />

      {{>editor_area}}

      <div id="publish-bar-hover">
        <div id="publish-bar">
          <div class="contain">
            <div class="left">
              <a href="{{base_url}}/">&laquo; Admin</a>
            </div>
            <div class="right">
              <input id="save-button" name="commit" type="submit" value="Save" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</body>