<body class="settings">

  <div class="settings-bd">
    <a class="admin-btn button" href="{{base_url}}/">« Admin</a>
    <h1>SETTINGS</h1>

    <ul>
      <li><h2 class="left-col"> Push to origin </h2><span class="right-col"><a class="button" href="{{base_url}}/settings/push">Push</a></span></li>
      <li><h2 class="left-col"> Pull from origin/master </h2><span class="right-col"><a class="button" href="{{base_url}}/settings/pull">Pull</a></span></li>

    </ul>
  </div>
</body>